@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap');

.container-body{
  /* padding:0px 20vw ; */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-header{
    text-align: center;
    padding: 20px;
}

.header {
    font-family: 'Azeret Mono', monospace;
    font-size: 30px;
}

.app-body{
  padding:20px;
  text-align: center;
}

.language-select{
  height:40 px !important;
  margin-bottom : 15px;
  outline: none !important;
}

.footer {
  /* font-family: 'Azeret Mono', monospace; */
  text-align: center !important;
  font-weight: 100;
  /* padding: 20px; */
}